body {

    font-family: 'Fira Sans', sans-serif;
    padding-left: 5%;
    padding-top: .2rem;
}



header {
    display: flex;
    justify-content: space-between;
}

h3 {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*
Banner 
*/
section {

    display: flex;
    align-items: center;
    text-align: left;
    min-width: 375px;
    min-height: 375x;
    max-height: 375x;
    background: linear-gradient(to right, white, 88%, transparent), url("margherita-pizza.jpg");

    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}






ul {
    display: flex;
    list-style-type: none;

}

header {
    display: flex;
    align-content: flex-end;
}

button {
    border: 0ch;
    background-color: transparent;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: rgb(41, 57, 176);


}

/* 
transformer les hyperlink
en bouton de menus
*/
ul a {
    display: inline;
    margin: 0px .2rem;
    text-decoration: none;
    color: black;
}

/*
et le petit effet quand on passe la souris dessus
*/
ul a:hover {
    color: ;
    text-decoration: underline;
    text-decoration-color: rgb(41, 57, 176);
    text-decoration-style: solid;
    text-decoration-thickness: 5px;

}

/*
les gros boutons rouges
*/
.callToAction {
    font-weight: 500;
    background-color: #EC0000;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .1rem .5rem .1rem;
    max-width: 50%;
}

.callToAction:hover {
    text-decoration-color: rgb(41, 57, 176);
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}

/*
masquage du champ recherche
*/
.hidden {
    display: none;
    transform: scale(0);
}

/*
title over carroussel 
*/
h2 {
    text-align: center;
}

.carroussel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
Produits
*/
.produit {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 200px;
    border: 2px solid gray;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3%;
    margin: 2%;

}

.produit:hover {
    box-shadow: 8px 10px 43px -2px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 8px 10px 43px -2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 8px 10px 43px -2px rgba(0, 0, 0, 0.46);
}

.prix {
    color: #05A84B;
    font-weight: 600;
}