body {

    font-family: 'Fira Sans', sans-serif;
    padding-left: 5%;
    padding-top: .2rem;
}

h2 {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
}

.presentation {
    display: flex;

    text-align: left;

}


.presentationText {
    min-width: 200;
    z-index: 5;
}

#banner_img {
    background-image: url("margherita-pizza 2.jpg");
    background-repeat: no-repeat;
    size: 100%;
    z-index: 0;
}




ul {
    display: flex;
    list-style-type: none;

}

header {
    display: flex;
    align-content: flex-end;
}

button {
    border: 0ch;
    background-color: transparent;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: rgb(41, 57, 176);


}

ul a {
    display: inline;
    margin: 0px .2rem;
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(41, 57, 176);
    text-decoration-thickness: .2rem;

}

.callToAction {
    background-color: #EC0000;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .1rem .5rem .1rem;
}

.hidden {
    transform: scale(0);
}

.carroussel {
    display: flex;
    justify-content: space-between;
}

.produit {
    display: flex;
    flex-direction: column;
    text-align: center;

    max-width: 200px;
    border: 2px solid gray;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1%;
}